* {
  box-sizing: border-box;
}

#container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}

#box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
}

#bin {
  width: 100px;
  height: 100px;
  border: 2px dashed black;
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
}
